<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="file" fileName="LogFiles/${shortdate}/log.txt" maxArchiveFiles="10" archiveAboveSize ="10240"
            layout="${date}|${level:uppercase=true}|${logger} ${newline} ${message} ${exception}|${all-event-properties} ${newline} ${stacktrace}" />

    <target xsi:type="ColoredConsole" name="console"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}">
      <highlight-row condition="level &gt;= LogLevel.Error and contains(message,'serious')" foregroundColor="White" backgroundColor="Red" />
      <highlight-row condition="starts-with(logger,'Example')" foregroundColor="Yellow" backgroundColor="DarkBlue" />
    </target>
    <target name="database" type="Database">

      <dbprovider>mssql</dbprovider>

      <!-- database connection parameters -->
      <!-- alternatively you could provide a single 'connectionstring' parameter -->
      <!--https://github.com/jkowalski/NLog/blob/72f649596504d832eae0b9535c2d2e7583382182/examples/targets/Configuration%20File/Database/MSSQL/create_nlog_database.sql-->
      <dbhost>.</dbhost>
      <dbdatabase>NLogDatabase</dbdatabase>
      <dbusername>nloguser</dbusername>
      <dbpassword>nlogpassword</dbpassword>

      <commandText>
        insert into LogTable(time_stamp,level,logger,message) values(@time_stamp, @level, @logger, @message);
      </commandText>

      <parameter name="@time_stamp" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file,console" />
  </rules>
</nlog>