@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        @*<div class="panel-heading">Panel heading</div>*@
        @*<div class="panel-body">
                <p>...</p>
            </div>*@

        <!-- Table -->
        <table class="table">
            <thead>
                <tr><th>123</th><th>456</th><th>789</th></tr>
            </thead>
            <tbody>
                <tr><td>123</td><td>456</td><td>789</td></tr>
                <tr><td>123</td><td>456</td><td>789</td></tr>
                <tr><td>123</td><td>456</td><td>789</td></tr>
                <tr><td>123</td><td>456</td><td>789</td></tr>
                <tr><td>123</td><td>456</td><td>789</td></tr>
                <tr><td>123</td><td>456</td><td>789</td></tr>
                <tr><td>123</td><td>456</td><td>789</td></tr>
            </tbody>
        </table>
    </div>
</div>
