@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr><th>123</th><th>456</th><th>789</th></tr>
            </thead>
            <tbody>
                <tr><td>123</td><td>456</td><td>789</td></tr>
                <tr><td>123</td><td>456</td><td>789</td></tr>
                <tr><td>123</td><td>456</td><td>789</td></tr>
                <tr><td>123</td><td>456</td><td>789</td></tr>
                <tr><td>123</td><td>456</td><td>789</td></tr>
                <tr><td>123</td><td>456</td><td>789</td></tr>
                <tr><td>123</td><td>456</td><td>789</td></tr>
            </tbody>
        </table>
    </div>
</div>
