@using HZ.Crawler.Model.Shiweijia;
@model ProductModel[];

@{
    ViewData["Title"] = "Product";
}

<div class="text-center">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr><th>图片</th><th>编号</th><th>名称</th><th>更新时间</th></tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><img src="" /></td>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.UpdateDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


